<table class="table table-striped" *ngIf="carregarLoading; else carregando">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Placa</th>
        <th scope="col">Modelo</th>
        <th scope="col">Cod Infração</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of veiculos">
        <th>{{v.id}}</th>
        <td>{{v.placa}}</td>
        <td>{{v.modelo}}</td>
        <td>{{v.codInfracao}}</td>
        <td><button type="button" class="btn btn-danger" (click)="excluirVeiculo(v.id)">Excluir</button></td>
      </tr>

    </tbody>
</table>
<ng-template #carregando >
    <div id="preloader">
      <div class="inner">
         <div class="bolas">
            <div></div>
            <div></div>
            <div></div>                    
         </div>
      </div>
  </div>
  </ng-template>